.detailsContainer {
    display: inline-block;
    justify-content: center;
    flex-wrap: wrap;
}

.col {
    max-width: 400px;
    margin: 15px;
    height: auto;
    height: 80%;
}

.vgImage {
    border-radius: 15px;
}

.vgDetails {
    font-size: 1.5rem;
}
.firstItem {
    margin-top: 0;
}
.text{
    font-size: 12px;
}
.moveBtn{
    position: relative;
    top: 110%;
}
.btn{
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 15px;
    height: 30px;
    margin-top: 5px;
    outline: 0;
    text-align: center;
    width: 100%;
}
.btn:hover{
    background-color: #06b;
}